<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">角色应用管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>

    <form class="form-horizontal" role="form" name="RoleAppForm" ng-controller="RoleAppAddController" ng-submit="submitForm()">
        <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success">{{success}}</div>

        <div class="form-group">
            <label for="role_id" class="col-sm-2 control-label">角色选择</label>
            <div class="col-sm-10">
                <select class="form-control" name="role_id" required ng-model="RoleApp.role_id" ng-options="option.role_id as option.role_name for option in roleModel" ng-change="select_role()">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="role_id" class="col-sm-2 control-label">应用分配:</label>
            <div class="col-sm-10">
                <label for="chkAll">全选|反选:</label><input id="chkAll" type="checkbox" ng-model="chkall" ng-click="chkAll(chkall)"/></label>
            </div>
        </div>

        <div class="form-group">
            <label for="role_id" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <label class="checkbox-inline"ng-repeat="app in apps">
                    <input type="checkbox" ng-model="app.checked" ng-true-vlaue="app.app_id" />{{app.app_content}}
                </label> 
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="RoleAppForm.$invalid"><i class="icon-plus"></i> 添加</button>
            </div>
        </div>

    </form>

</block>

<block name="header_script">
    <script type="text/javascript">
        var RoleAppModule = angular.module("baby", []);
        RoleAppModule.controller("RoleAppAddController", function ($scope, $http,$filter) {
            $scope.roleModel = {$role_select};//初始化角色列表
            $scope.apps = {$apps_json};//初始化应用
            $scope.chkall = false;
            $scope.chkAll = function (checked) {
                angular.forEach($scope.apps, function (value, key) {
                    value.checked = checked;
                });
            }
           
            $scope.select_role = function () {
                if (typeof ($scope.RoleApp.role_id) != 'undefined') {
                    $http({
                        method: "POST",
                        url: "/Admin/RoleApp/choiceApps",
                        data: $.param($scope.RoleApp),
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }).success(function (data) {
                        $scope.apps = eval(data);
                    });
                }
            }
            
            $scope.$watch('apps', function (nv, ov) {
                if (nv == ov) {
                    $scope.choseArr = [];
                    angular.forEach(
                        $filter('filter')(nv, {checked: true}), function (v) {
                            $scope.choseArr.push(v.app_id);
                        }
                    );
                    return;
                }
                $scope.choseArr = [];
                angular.forEach(
                        $filter('filter')(nv, {checked: true}), function (v) {
                    $scope.choseArr.push(v.app_id);
                }
                );
                $scope.chkall = $scope.choseArr.length == $scope.apps.length;
            }, true);
            
            
            $scope.submitForm = function () {
                $scope.form_data = {'role_id': $scope.RoleApp.role_id, 'app_ids': $scope.choseArr};
                $http({
                    method: "POST",
                    url: "/Admin/RoleApp/add",
                    data: $.param($scope.form_data),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        window.location.href = '/Admin/RoleApp/index';
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>