<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="zh-CN" id="ng-app"  ng-app="baby">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="keywords" content="baby" />
        <meta name="description" content="baby" />
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap-theme.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bottons.css" media="all">
        <link rel="stylesheet" type="text/css" href="__CSS__/normalize.css" media="all">
        <link rel="stylesheet" type="text/css" href="__CSS__/non-responsive.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/jquery_ui/jquery-ui.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__CSS__/blog.css" media="all">

        <!--[if lt IE 9]>
            <script src="__JS__/ie8-responsive-file-warning.js"></script>
        <![endif]-->
        <script src="__JS__/ie-emulation-modes-warning.js"></script>
        <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
                <script>
                  document.createElement('ng-include');
                  document.createElement('ng-pluralize');
                  document.createElement('ng-view');
                  // Optionally these for CSS
                  document.createElement('ng:include');
                  document.createElement('ng:pluralize');
                  document.createElement('ng:view');
                </script>
         <![endif]-->
        <!--[if lte IE 7]>
        <script type="text/javascript" src="__COMMON__/json2.js"></script>
        <![endif]-->
    </head>
    <body style="background-image: url('{:C('SYSTEM.background_img')}');">
    <include file="Public/navi"/>

    <div class="container">


<!--        <div class="blog-header" style="width:100%;min-height: 250px;height:100%;background-image: url('/upload/system/back_top.jpg')">
            <h1 class="blog-title"></h1>
            <p class="lead blog-description"></p>
        </div>-->


        <div class="row">

            <div class="col-sm-3 col-sm-offset-1 col-xs-3 blog-sidebar" style="margin-left:0px;">
                <block name="master">
                    <!-- 孩子详细信息模块 -->
                </block>

                <block name="statistics">
                    <!-- 网站统计模块 -->
                </block>

            </div><!-- /.blog-sidebar -->

            <div class="col-sm-9 col-xs-9 blog-main">
                <block name="content">
                    <!-- 页面主体内容模块 -->
                </block>

                <nav>
                    {$page}
                </nav>

            </div><!-- /.blog-main -->

        </div><!-- /.row -->

        <include file="Public/footer"/><!-- 页面底部模块 -->
    </div> <!-- /container -->

    <script type="text/javascript" src="__COMMON__/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__COMMON__/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__COMMON__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__COMMON__/angularjs/angular.min.js"></script>
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
</body>
</html>