<div class="sidebar-module sidebar-module-inset">
    <img class="img-circle" src="{:C('MASTER.photo')}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h3>周王梓</h3>
    <p style="text-align: left;">
        <span class="label label-primary"><i class="icon-calendar" style="color:#E74C3C;"></i> 2015-01-05 12:45(阳历)</span><br>
        <span class="label label-primary"><i class="icon-time" style="color:#E48632;"></i> 2014-11-15 12:45(农历)</span><br>
        <span class="label label-primary"><i class="icon-hospital" style="color:pink;"></i> 河北省保定市妇幼保健院</span><br>
        <span class="label label-primary"><i class="icon-heart" style="color:red;"></i> B型</span><br>
        <span class="label label-primary"><i class="icon-user" style="color:#A77447;"></i> 男</span><br>
        <span class="label label-primary"><i class="icon-gift" style="color:green;"></i> 5</span><br>
    </p>
</div>