<div class="sidebar-module">
    <h4><span class="label label-default"><i class="icon-eye-open"></i> 浏览:1100</span></h4>
    <h4><span class="label label-primary"><i class="icon-pencil"></i> 说说:1100</span></h4>
    <h4><span class="label label-success"><i class="icon-edit"></i> 日志:1100</span></h4>
    <h4><span class="label label-info"><i class="icon-picture"></i> 相片:1100</span></h4>
    <h4><span class="label label-warning"><i class="icon-film"></i> 视频:1100</span></h4>
    <h4><span class="label label-danger"><i class="icon-hand-right"></i> 留言:1100</span></h4>
</div>