# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/nbproject/private/
*.log
Runtime/Cache/Admin/62de5677d4db9a2215cca5e66e9dcc2b.php
Runtime/Cache/Admin/b02c9109d1ae55b517bddbb3adda3fcc.php
Runtime/Cache/Admin/8bee8bcf621fe0c8a4591ee9b54dd9ad.php