<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">用户管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>
    <form class="form-horizontal" role="form" name="UserForm" ng-controller="UserAddController" ng-submit="submitForm()">
        <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success">{{success}}</div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" name="name" ng-model="user.name" ng-minlength="1" ng-maxlength="20" required class="form-control" id="name" placeholder="用户名">
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" name="password" ng-model="user.password" ng-minlength="1" ng-maxlength="20" required class="form-control" id="password" placeholder="密码">
            </div>
        </div>
        
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="text" name="email" ng-model="user.email" ng-minlength="1" ng-maxlength="40" required class="form-control" id="email" placeholder="邮箱">
            </div>
        </div>
        
        <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-10">
                <input type="text" name="nickname" ng-model="user.nickname" ng-minlength="1" ng-maxlength="30" required class="form-control" id="nickname" placeholder="昵称">
            </div>
        </div>
        
        <div class="form-group">
            <label for="qq" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
                <input type="text" name="qq" ng-model="user.qq" ng-minlength="1" ng-maxlength="15"  class="form-control" id="qq" placeholder="QQ">
            </div>
        </div>
        
        <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-10">
                <input type="text" name="mobile" ng-model="user.mobile" ng-minlength="1" ng-maxlength="11"  class="form-control" id="mobile" placeholder="手机">
            </div>
        </div>
        
        <div class="form-group">
            <label for="role_id" class="col-sm-2 control-label">角色</label>
            <div class="col-sm-10">
                <select class="form-control" name="role_id" required ng-model="user.role_id" ng-options="option.id as option.role_name for option in roleModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="is_superuser" class="col-sm-2 control-label">超级用户</label>
            <div class="col-sm-10">
                <select class="form-control" name="is_superuser" required ng-model="user.is_superuser" ng-options="option.id as option.superStatus for option in superModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="backend_login" class="col-sm-2 control-label">后台登陆</label>
            <div class="col-sm-10">
                <select class="form-control" name="backend_login" required ng-model="user.backend_login" ng-options="option.id as option.backend for option in backendLogin">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">用户状态</label>
            <div class="col-sm-10">
                <select class="form-control" name="status" required ng-model="user.status" ng-options="option.id as option.statusName for option in statusModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : UserForm.headimg.$invalid && UserForm.headimg.$dirty}">
            <label for="headimg" class="col-sm-2 control-label">头像:</label>
            <div class="col-sm-10">
                <div id="queue"></div>
                <!--<img id="previmg" src="{$user.headimg}" />-->
                <input id="file_upload" name="headimg" type="file"  multiple="true">
                <input type="hidden" name="headimg" id="headimg" value="{{user.headimg}}" ng-model="user.headimg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="UserForm.$invalid"><i class="icon-plus"></i> 添加</button>
            </div>
        </div>

    </form>
</block>

<block name="header_script">
    <link rel="stylesheet" type="text/css" href="__COMMON__/uploadify/uploadify.css" media="all">
    <script type="text/javascript" src="__COMMON__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        var UserModule = angular.module("baby", []);
        UserModule.controller("UserAddController", function ($scope, $http) { 
            $scope.superModel =[{
                    id: 1,
                    superStatus: '是'
                }, {
                    id: 0,
                    superStatus: '否'
                }];
            $scope.statusModel = [{
                    id: 1,
                    statusName: '正常'
                }, {
                    id: 0,
                    statusName: '禁用'
                }];
            $scope.backendLogin = {$backendLogin_arr};
            $scope.roleModel = {$roles_arr};
            $scope.submitForm = function () {
                $http({
                    method: "POST",
                    url: "/Admin/User/add",
                    data: $.param($scope.user),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        window.location.href = '/Admin/User/index';
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>