<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">用户管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>
    <form class="form-horizontal" role="form" name="UserForm" ng-controller="UserController" ng-submit="submitForm()" novalidate>
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>
        
        <div class="form-group" ng-class="{'has-error' : UserForm.password.$invalid && !UserForm.password.$pristine}">
            <label for="password" class="col-sm-2 control-label">原密码</label>
            <div class="col-sm-10">
                <input type="password" name="password"  ng-model="user.password" ng-minlength="4" ng-maxlength="20" required class="form-control" id="password" placeholder="原密码">
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : UserForm.newpassword.$invalid && !UserForm.newpassword.$pristine}">
            <label for="newpassword" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
                <input type="password" name="newpassword"  ng-model="user.newpassword"  ng-minlength="4" ng-maxlength="20"  class="form-control" id="newpassword" placeholder="新密码">
            </div>
        </div>
       
        <div class="form-group" ng-class="{'has-error' : UserForm.repassword.$invalid && !UserForm.repassword.$pristine}">
            <label for="repassword" class="col-sm-2 control-label">重复新密码</label>
            <div class="col-sm-10">
                <input type="password" name="repassword" ng-model="user.repassword"  ng-minlength="4" ng-maxlength="20"  class="form-control" id="repassword" placeholder="重复新密码">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="UserForm.$invalid"><i class="icon-save"></i> 保存新密码</button>
            </div>
        </div>
        

    </form>
</block>

<block name="header_script">
    <script type="text/javascript">
        var UserModule = angular.module("baby", []);
        UserModule.controller("UserController", function ($scope, $http) {
            $scope.submitForm = function () {
                $http({
                    method: "POST",
                    url: "/Admin/User/password",
                    data: $.param($scope.user),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>