<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">音乐管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="icon-search"></i> 检索条件
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form role="form" action="/Admin/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" method="get">
                        <div class="form-group">
                            <label for="music_name">音乐名</label>
                            <input type="text" class="form-control" name="music_name" id="music_name" value="{$music_name}" placeholder="音乐名">
                        </div>
                        
                        <div class="form-group">
                            <label for="status">状态</label>
                            <select class="form-control" name="status">
                                <foreach name="status_arr" item="talk_status">
                                    <if condition="$status heq $key">
                                        <option value="{$key}" selected="selected">{$talk_status}</option>
                                        <else />
                                        <option value="{$key}">{$talk_status}</option>
                                    </if>
                                </foreach>
                            </select>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button  type="submit" class="btn btn-success">检索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <if condition="$musics neq ''">
        <div class="table-responsive panel panel-primary" ng-controller="MusicController">
            <div class="panel-heading">
                <B>音乐管理 | 音乐列表</B>
                <a href="/Admin/Music/add" class="btn btn-success" role="button"><i class="icon-plus"></i> 添加音乐</a>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>ID</th>
                    <th>音乐名</th>
                    <th>音乐url</th>
                    <th>音乐类型</th>
                    <th>音乐描述</th>
                    <th>播放顺序</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                <volist name="musics" id="music">
                    <tr id="{$music.id}">
                        <td>{$music.id}</td>
                        <td>{$music.music_name}</td>
                        <td>{$music.music_url}</td>
                        <td>{$music.exttype}</td>
                        <td>{$music.description}</td>
                        <td>{$music.list_order}</td>
                        <td><?php echo \Admin\Model\MusicModel::getStatus($music['status']);?></td>
                    <if condition="$music.create_time eq 0">
                        <td></td>
                        <else />
                        <td>{$music.create_time|date="Y-m-d H:i:s",###}</td>
                    </if>
                    
                    <td>
                        <a href="/Admin/Music/edit/id/{$music.id}" class="btn btn-warning" role="button"><i class="icon-pencil"></i> 编辑</a>
                        <a href="" ng-show="show({$music.status})"  ng-model="music.status" class="btn btn-danger" role="button"  ng-click="disable_music({$music.id})"><i class="icon-remove-circle"></i> 不公开</a>
                        <a href="" ng-show="show(!{$music.status})"  ng-model="music.status" class="btn btn-success" role="button"  ng-click="enable_music({$music.id})"><i class="icon-ok"></i> 公开</a>
                        <a href="" class="btn btn-danger" ng-click="del({$music.id})" role="button"><i class="icon-trash"></i> 删除</a>
                    </td>
                    </tr>
                </volist>
            </table>
        </div>
        <?php echo $page;?>
        <else />
        <div class="table-responsive panel panel-primary" ng-controller="MusicController">
            <div class="panel-heading">
                <B>音乐管理 | 音乐列表</B>
                <a href="/Admin/Music/add" class="btn btn-success" role="button"><i class="icon-plus"></i> 添加音乐</a>
            </div>
            <div class="panel-body">
                未检索到数据
            </div>
        </div>
    </if>
</block>
<block name="header_script">
    <script type="text/javascript">
        var MusicModule = angular.module("baby", []);
        MusicModule.controller("MusicController", function ($scope, $http) {
            $scope.show = function(status){
                if(status == 1){
                    return true;
                }else{
                    return false;
                }
            }
            
            //删除音乐
            $scope.del = function(music_id){
                $scope.music  = {'id':music_id};
                $http({
                    method:"POST",
                    url:"/Admin/Music/delete",
                    data:$.param($scope.music),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {     
                        $scope.success = data.success;
                        $('#'+music_id).css('display','none');
                    } else {
                        $scope.message = data.message;
                    }
                });
            }

            //不公开音乐
            $scope.disable_music = function(music_id){
                $scope.music  = {'id':music_id};
                $http({
                    method:"POST",
                    url:"/Admin/Music/disable",
                    data:$.param($scope.music),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {     
                        $scope.success = data.success;
                        window.location.reload();
                    } else {
                        $scope.message = data.message;
                    }
                });
            }
            //公开音乐
            $scope.enable_music = function(music_id){
                $scope.music  = {"id":music_id};
                $http({
                    method:"POST",
                    url:"/Admin/Music/enable",
                    data:$.param($scope.music),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {  
                        $scope.success = data.success;
                        window.location.reload();
                    } else {
                        $scope.message = data.message;
                    }
                });
            }
        });
    </script>
</block>