<extend name="Public:base" />
<block name="content">
    <div class="main" >
        <div class="content">
            <div class="panel panel-primary">
                <div class="panel-heading">系统信息</div>

                <table id="checkList" class="table table-hover" cellpadding=0 cellspacing=0 >
                    <volist name="info" id="v">
                        <tr class="row" onmouseover="over()" onmouseout="out()" onclick="change()" ><td width="15%">{$key}</td><td>{$v}</td></tr>
                    </volist>
                    <tr><td height="3" colspan="2" class="bottomTd"></td></tr>
                </table>

            </div>
        </div>
    </div>
</div>
</block>