<extend name="Public:base" />

<block name="content">
    <div class="table-responsive panel panel-primary">
        <div class="panel-heading">
            <B>权限管理|角色管理列表</B>
            <a href="/Admin/Role/add" class="btn btn-success" role="button"><i class="icon-plus"></i> 添加</a>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>PID</th>
                <th>状态</th>
                <th>备注</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            <volist name="roles" id="role">
                <tr  <eq name="mod">class="info"</eq>>
                    <td>{$role.id}</td>
                    <td>{$role.name}</td>
                    <td>{$role.pid}</td>
                    <td>{$role.status}</td>
                    <td>{$role.remark}</td>
                    <td>{$role.create_time|date="Y-m-d",###}</td>
                    <td>{$role.update_time|date="Y-m-d",###}</td>
                    <td>
                        <a href="/Admin/Role/edit/id/{$role.id}" class="btn btn-info" role="button"><i class="icon-pencil"></i> 编辑</a>
                        <a href="/Admin/Role/delete/id/{$role.id}" class="btn btn-danger" role="button"><i class="icon-trash icon-large"></i> 删除</a>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</block>
<block name="header_script">
    <script type="text/javascript">
        var loginModule = angular.module("baby", []);
        loginModule.controller("loginController", function ($scope, $http) {
            $scope.submitForm = function () {
                $http({
                    method: "POST",
                    url: "/Admin/Public/Login",
                    data: $.param($scope.user),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        window.location.href = '/Admin/Index/index';
                    } else {
                        $('#verifycode').attr('src', '/Admin/Public/createVerify' + '?' + Math.random());
                        $scope.errorVerifycode = data.errorVerifycode;
                        $scope.errorName = data.errorName;
                        $scope.errorPassword = data.errorPassword;
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>