<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">相册管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>
    <form class="form-horizontal" role="form" name="AlbumForm" ng-controller="AlbumController" ng-submit="submitForm()">
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>


        <div class="row">
            <volist name="photos" id="photo">
                <div class="col-sm-6 col-md-4" style="height: 250px;" id="{$photo.id}">
                    <div class="thumbnail">
                        <a href="{$photo.high_photo_url}" data-lightbox="photo" data-title="{$photo.photo_name}"><img src="{$photo.photo_url}" data-src="" alt=""></a>
                        <div class="caption">
                            <p style="text-align: center;">
                                <a href="/Admin/Album/photoDetail/id/{$photo.id}" class="btn btn-success" role="button">查看</a>
                                <a href="/Admin/Album/photoEdit/id/{$photo.id}" class="btn btn-primary" role="button">编辑</a> 
                                <a href="#" ng-click="del({$photo.id})" class="btn btn-danger" role="button">删除</a>
                            </p>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
        <?php echo $page;?>
    </form>
</block>

<block name="header_script">
    <link rel="stylesheet" type="text/css" href="__COMMON__/lightbox/css/lightbox.css" media="all">
    <script type="text/javascript" src="__COMMON__/lightbox/js/lightbox.min.js"></script>
    <script type="text/javascript">
            var AlbumModule = angular.module("baby", []);
            AlbumModule.controller("AlbumController", function ($scope, $http) {
                $scope.del = function (photo_id) {
                    $scope.photo ={'id':photo_id};
                    $http({
                        method: "POST",
                        url: "/Admin/Album/photoDelete",
                        data: $.param($scope.photo),
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }).success(function (data) {
                        if (data.status) {
                            $scope.success = data.success;
                            $('#'+photo_id).css('display','none');
                        } else {
                            $scope.message = data.message;
                        }
                    });
                };
            });

    </script>
</block>