<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">站长信息</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>

    <form class="form-horizontal" role="form" name="MasterForm" ng-controller="MasterController" ng-submit="submitForm()" novalidate>
        <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success">{{success}}</div>
        <div class="form-group" ng-class="{'has-error' : MasterForm.name.$invalid && !MasterForm.name.$pristine}">
            <label for="name" class="col-sm-2 control-label">站长真实姓名:</label>
            <div class="col-sm-10">
                <input type="text" name="name" value="{$master.name}" ng-model="master.name" ng-minlength="1" ng-maxlength="20" required class="form-control" id="name" placeholder="站长真实姓名">
                <p ng-show="MasterForm.name.$invalid && !MasterForm.name.$pristine" class="help-block">真实姓名不符要求(长度1-20)</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.nickname.$invalid && !MasterForm.nickname.$pristine}">
            <label for="nickname" class="col-sm-2 control-label">昵称:</label>
            <div class="col-sm-10">
                <input type="text" name="nickname" value="{$master.nickname}" ng-model="master.nickname" ng-minlength="1" ng-maxlength="30" required class="form-control" id="name" placeholder="昵称">
                <p ng-show="MasterForm.nickname.$invalid && !MasterForm.nickname.$pristine" class="help-block">昵称不符要求(长度1-30)</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.sex.$invalid && !MasterForm.sex.$pristine}">
            <label for="sex" class="col-sm-2 control-label">性别:</label>
            <div class="col-sm-10">
                <select class="form-control" name="sex" required ng-model="master.sex" ng-options="m.Name for m in sexModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="birthday" class="col-sm-2 control-label">出生日期:</label>
            <div class="col-sm-10">
                <input type="text" ui-date="dateOptions" ui-date-format="" name="birthday" ng-model="master.birthday">               
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.qq.$invalid && MasterForm.qq.$dirty}">
            <label for="qq" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
                <input type="number" name="qq" value="{$master.qq}" ng-model="master.qq" ng-minlength="1" ng-maxlength="15" required class="form-control" id="qq" placeholder="QQ">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.weixin.$invalid && MasterForm.weixin.$dirty}">
            <label for="weixin" class="col-sm-2 control-label">微信:</label>
            <div class="col-sm-10">
                <input type="text" name="weixin" value="{$master.weixin}" ng-model="master.weixin" ng-pattern="/([a-zA-Z_]+\w*){1,20}/" ng-minlength="1" ng-maxlength="20"  class="form-control" id="weixin" placeholder="微信">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.mobile.$invalid && MasterForm.mobile.$dirty}">
            <label for="mobile" class="col-sm-2 control-label">手机:</label>
            <div class="col-sm-10">
                <input type="number" name="mobile" value="{$master.mobile}" ng-model="master.mobile" ng-minlength="1" ng-maxlength="11" class="form-control" id="mobile" placeholder="手机">
            </div>
        </div>

        <div class="form-group">
            <label for="province" class="col-sm-2 control-label">省:</label>
            <div class="col-sm-10">
                <select class="form-control" id="province" name="province" ng-model="master.province" onchange="loadRegion('province', 2, 'city', '/admin/master/getRegion');"> 
                    <option value="" selected>省份/直辖市</option>
                    <volist name="province" id="vo"> 
                        <?php 
                        if($master['province'] == $vo['id']){
                        ?>
                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                        <?php
                        }else{
                        ?>
                        <option value="{$vo.id}" >{$vo.name}</option>
                        <?php
                        }
                        ?>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">市:</label>
            <div class="col-sm-10">
                <select class="form-control" id="city" name="city" ng-model="master.city" onchange="loadRegion('city', 3, 'town', '/admin/master/getRegion');"> 
                    <option value="">市/县</option>
                    <volist name="citys" id="vo">   
                        <?php 
                        if($master['city'] == $vo['id']){
                        ?>
                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                        <?php
                        }else{
                        ?>
                        <option value="{$vo.id}" >{$vo.name}</option>
                        <?php
                        }
                        ?>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="town" class="col-sm-2 control-label">县:</label>
            <div class="col-sm-10">
                <select class="form-control" id="town" ng-model="master.town" name="town"> 
                    <option value="">镇/区</option>
                    <volist name="towns" id="vo">     
                        <?php 
                        if($master['town'] == $vo['id']){
                        ?>
                        <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                        <?php
                        }else{
                        ?>
                        <option value="{$vo.id}" >{$vo.name}</option>
                        <?php
                        }
                        ?>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.address.$invalid && MasterForm.address.$dirty}">
            <label for="address" class="col-sm-2 control-label">详细地址:</label>
            <div class="col-sm-10">
                <input type="text" name="address" value="{$master.address}" ng-model="master.address" ng-minlength="1" ng-maxlength="100" class="form-control" id="address" placeholder="详细地址">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.photo.$invalid && MasterForm.photo.$dirty}">
            <label for="photo" class="col-sm-2 control-label">头像:</label>
            <div class="col-sm-10">
                <div id="queue"></div>
		<input id="file_upload" name="photo" type="file"  multiple="true">
                <input type="hidden" name="photo" value="" ng-model="master.photo" />
                
                <input type="text" name="photo" value="{$master.photo}" ng-model="master.photo" ng-minlength="1" ng-maxlength="20" required class="form-control" id="photo" placeholder="头像">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : MasterForm.remark.$invalid && MasterForm.remark.$dirty}">
            <label for="remark" class="col-sm-2 control-label">备注:</label>
            <div class="col-sm-10">
                <input type="text" name="remark" value="{$master.remark}" ng-model="master.remark" ng-minlength="1" ng-maxlength="20"  class="form-control" id="remark" placeholder="备注">
            </div>
        </div>

        <div class="form-group">
            <label for="show_flag" class="col-sm-2 control-label">是否显示:</label>
            <div class="col-sm-10">
                <select class="form-control" name="show_flag" required ng-model="master.show_flag" ng-options="m.Name for m in showModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="MasterForm.$invalid"><i class="icon-save"></i> 保存站长信息</button>
            </div>
        </div>

    </form>
</block>

<block name="header_script">
    <style type="text/css">
        select{color:#333}
    </style>
    <link rel="stylesheet" type="text/css" href="__COMMON__/uploadify/uploadify.css" media="all">
    <script type="text/javascript" src="__COMMON__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__COMMON__/region/region.js"></script>
    <script type="text/javascript" src="__COMMON__/angular-ui/date.js"></script>
    <script type="text/javascript">
        var MasterModule = angular.module("baby", ['ui.date']);
        MasterModule.controller("MasterController", function ($scope, $http, $filter) {
            $scope.birthday = "{$master.birthday}";
            $scope.dateOptions = {
                changeYear: true,
                changeMonth: true,
                yearRange: '1900:-0'
            };
            //性别下拉列表
            $scope.sexModel = [
                {
                    id: 0,
                    Name: '女'
                }, {
                    id: 1,
                    Name: '男'
                }];
            $scope.master = {'sex': $scope.sexModel["{$master.sex}"]};
            //是否显示下拉列表
            $scope.showModel = [{
                    id: 0,
                    Name: '不显示'
                }, {
                    id: 1,
                    Name: '显示'
                }];
            $scope.master = {'show_flag': $scope.showModel["{$master.show_flag}"]}
            //删除某角色
            $scope.submitForm = function (id) {
                $http({
                    method: "POST",
                    url: "/Admin/Master/index",
                    data: $.param($scope.master),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        $("#" + id).css('display', 'none');
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
        
        function complete(){
            
        }
        
        <?php $timestamp = time();?>
        $(function() {
            $('#file_upload').uploadify({
                'formData'     : {
                    'timestamp' : '<?php echo $timestamp;?>',
                    'token'     : '<?php echo md5('unique_salt' . $timestamp);?>'
                },
                'buttonText':'选择图片',
                'swf'      : '__COMMON__/uploadify/uploadify.swf',
                'cancelImg': '__COMMON__/uploadify/uploadify-cancel.png',
                'onComplete': complete,
                'uploader' : '/Admin/Master/upload'
            });
        });
    </script>
</block>