<extend name="Public:base" />


<block name="master"> <!-- 孩子详细信息模块 -->
    <include file="Public/master"/>
</block>

<block name="statistics"> <!-- 网站统计模块 -->
    <include file="Public/statistics"/>
</block>

<block name="content"> <!-- 页面主体内容模块 -->
    <if condition="$contents neq ''">
        <volist name="contents" id="content">
            <div class="blog-post">
                <h4 class="blog-post-title">
                    <if condition="$content.type eq \Admin\Model\ContentModel::$TYPE_TALK">
                        <span class="label label-primary"><i class='icon-comment'></i></span>
                        <elseif condition="$content.type eq \Admin\Model\ContentModel::$TYPE_ARTICLE" />
                        <span class="label label-success"><i class='icon-book'></i></span>
                        <elseif condition="$content.type eq \Admin\Model\ContentModel::$TYPE_ALBUM" />
                        <span class="label label-info"><i class='icon-camera'></i></span>
                        <elseif condition="$content.type eq \Admin\Model\ContentModel::$TYPE_VIDEO" />
                        <span class="label label-info"><i class='icon-video'></i></span>
                    </if>
                    {$content.title}
                </h4>
                <p class="blog-post-meta">
                    <i class='icon-calendar'></i>{$content.create_time|date='Y-m-d H:i:s',###} 
                    <a href="#">王梓</a> 
                    <i class='icon-eye-open'></i>浏览({$content.view_times})
                    <i class='icon-comment'></i>评论({$content.comment_times})
                </p>
                <p>{$content.content|htmlspecialchars_decode|stripslashes}</p>
            </div>
        </volist>
    </if>
</block>