<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">应用管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>

    <div class="table-responsive panel panel-primary" ng-controller="AppController">
        <div class="panel-heading">
            <B>应用管理|管理列表</B>
            <a href="/Admin/App/add" class="btn btn-success" role="button"><i class="icon-plus"></i> 添加</a>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>应用名称</th>
                <th>URL</th>
                <th>模块</th>
                <!--<th>模块名</th>-->
                <th>控制器</th>
<!--                <th>控制器名</th>-->
                <th>操作</th>
                <!--<th>操作名</th>-->
                <th>应用操作</th>
            </tr>
            <volist name="apps" id="app">
                <tr id="{$app.id}">
                    <td>{$app.id}</td>
                    <td>{$app.name}</td>
                    <td>{$app.url}</td>
                    <td>{$app.module}</td>
                    <!--<td>{$app.module_title}</td>-->
                    <td>{$app.controller}</td>
                    <!--<td>{$app.controller_title}</td>-->
                    <td>{$app.action}</td>
                    <!--<td>{$app.action_title}</td>-->
                    <td>
                        <a href="/Admin/App/edit/id/{$app.id}" class="btn btn-warning" role="button"><i class="icon-pencil"></i> 编辑</a>
                        <a href="" class="btn btn-danger" role="button"  ng-click="del_app({$app.id})"><i class="icon-trash icon-large"></i> 删除</a>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
    <?php echo $page;?>
</block>

<block name="header_script">
    <script type="text/javascript">
        var AppModule = angular.module("baby", []);
        AppModule.controller("AppController", function ($scope, $http) {
            //删除某角色
            $scope.del_app = function (id) {
                $scope.app = {app_id: id};
                $http({
                    method: "POST",
                    url: "/Admin/App/delete",
                    data: $.param($scope.app),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        $("#" + id).css('display', 'none');
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>