<!doctype html>
<html lang="zh-CN" ng-app="baby">
    <head>
        <meta charset="UTF-8">
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="keywords" content="baby" />
        <meta name="description" content="baby" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">

    </head>
    <body>
        <div class="container">
            <block name="content">

            </block>
            <block name="footer">

            </block>
        </div>
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap-theme.min.css" media="all">
        <script type="text/javascript" src="__COMMON__/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="__COMMON__/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="__COMMON__/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__COMMON__/common.js"></script>
    <block name="header_script"></block>
</body>
</html>