<!doctype html>
<html xmlns:ng="http://angularjs.org" lang="zh-CN" id="ng-app"  ng-app="baby">
    <head>
        <meta charset="UTF-8">
        <title>{:C('WEB_SITE_TITLE')}</title>
        <meta name="keywords" content="baby" />
        <meta name="description" content="baby" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <!--[if lte IE 8]>
                <script>
                  document.createElement('ng-include');
                  document.createElement('ng-pluralize');
                  document.createElement('ng-view');
        
                  // Optionally these for CSS
                  document.createElement('ng:include');
                  document.createElement('ng:pluralize');
                  document.createElement('ng:view');
                </script>
         <![endif]-->
        <!--[if lte IE 7]>
        <script type="text/javascript" src="__COMMON__/json2.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <block name="content">

            </block>
            <block name="footer">

            </block>
        </div>
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap/css/bootstrap-theme.min.css" media="all">
        <script type="text/javascript" src="__COMMON__/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="__COMMON__/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="__COMMON__/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__COMMON__/common.js"></script>
    <block name="header_script"></block>
</body>
</html>