<extend name="Public:base" />

<block name="content">
    <form class="form-signin" role="form">
        <h3 class="form-signin-heading" style="text-align: center;"><span class="icon-desktop"></span> baby管理系统</h3>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="用户名">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="icon-key"></span></span>
                <input type="password" class="form-control" placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-font"></span></span>
                <input type="text" class="form-control" placeholder="请输入验证码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <img onclick="this.src=this.src+'?'+Math.random()" src="{:U('/Admin/Public/createVerify')}" class="img-responsive" alt="Responsive image"> 
           点击切换
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> 记住登录
                </label>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>



    <div ng-app="">
        <p>在输入框中尝试输入：</p>
        <p>姓名：<input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
    </div>

</block>

<block name="header_script">
    <link rel="stylesheet" type="text/css" href="__CSS__/public_login.css" media="all">
    <script type="text/javascript">
        function formController($scope) {
            $scope.master = {firstName: "John", lastName: "Doe"};
            $scope.reset = function () {
                $scope.user = angular.copy($scope.master);
            };
            $scope.reset();
        }
        ;
    </script>
</block>