<div class="col-md-3">
    <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
        <li class="active">
            <a href="#">
                <i class="glyphicon glyphicon-th-large"></i>
                首页		 
            </a>
        </li>
        <li>
            <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="glyphicon glyphicon-cog"></i>
                系统管理
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#"><i class=" icon-wrench"></i>系统设置</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
            </ul>
        </li>
        <li>
            <a href="#powerSetting" class="nav-header collapsed" data-toggle="collapse" id="power">
                <i class="icon-sitemap"></i>
                权限管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="powerSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Role/index"><i class="icon-group"></i>角色管理</a></li>
                <li><a href="/Admin/App/index"><i class="icon-pencil"></i>应用管理</a></li>
                <li><a href="#"><i class="icon-credit-card"></i>用户角色</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#userSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user"></i>
                用户管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="userSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
            </ul>
        </li>

        <li>
            <a href="#menuSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-reorder"></i>
                菜单管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="menuSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
            </ul>
        </li>
        
        <li>
            <a href="/Admin/Index/system">
                <i class="glyphicon glyphicon-fire"></i>
                服务器信息
            </a>
        </li>

    </ul>
</div>
