<div class="col-xs-3">
    <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
        <li class="active">
            <a href="#">
                <i class="glyphicon glyphicon-th-large"></i>
                首页		 
            </a>
        </li>
        <li>
            <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse" id="system">
                <i class="glyphicon glyphicon-cog"></i>
                系统管理
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/User/modify"><i class="icon-exchange"></i>修改信息</a></li>
                <li><a href="/Admin/User/password"><i class="icon-key"></i>修改密码</a></li>
                <li><a href="/Admin/System/setting"><i class=" icon-wrench"></i>系统设置</a></li>
                <li><a href="/Admin/System/clear"><i class=" icon-magic"></i>清除缓存</a></li>
                <li><a href="/Admin/Master/index"><i class="glyphicon glyphicon-edit"></i>站长信息</a></li>
                <li><a href="/Admin/System/log"><i class="glyphicon glyphicon-eye-open"></i>后台日志</a></li>
            </ul>
        </li>
        <li>
            <a href="#powerSetting" class="nav-header collapsed" data-toggle="collapse" id="power">
                <i class="icon-sitemap"></i>
                权限管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="powerSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Role/index"><i class="icon-group"></i>角色管理</a></li>
                <li><a href="/Admin/App/index"><i class="icon-pencil"></i>应用管理</a></li>
                <li><a href="/Admin/RoleApp/index"><i class="icon-globe"></i>角色应用</a></li>
                <li><a href="/Admin/RoleUser/index"><i class="icon-credit-card"></i>角色用户</a></li>
            </ul>
        </li>
        
<!--        <li>
            <a href="#menuSetting" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-reorder"></i>
                菜单管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="menuSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
            </ul>
        </li>-->
        
        <li>
            <a href="#userSetting" class="nav-header collapsed" data-toggle="collapse" id="user">
                <i class="icon-user"></i>
                用户管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="userSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/User/index"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                <li><a href="/Admin/User/add"><i class="icon-plus-sign"></i>用户添加</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#talkSetting" class="nav-header collapsed" data-toggle="collapse" id="talk">
                <i class="icon-volume-up"></i>
                说说管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="talkSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Talk/index"><i class="icon-cogs"></i>说说管理</a></li>
                <li><a href="/Admin/Talk/add"><i class="icon-plus-sign"></i>写说说</a></li>
                <li><a href="/Admin/TalkComment/index"><i class="icon-comments-alt"></i>说说评论</a></li>
            </ul>
        </li>

        <li>
            <a href="#articleSetting" class="nav-header collapsed" data-toggle="collapse" id="article">
                <i class="icon-file-alt"></i>
                日志管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="articleSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/ArticleCategory/index"><i class="icon-align-justify"></i>日志分类管理</a></li>
                <li><a href="/Admin/ArticleCategory/add"><i class="icon-paper-clip"></i>日志分类添加</a></li>
                <li><a href="/Admin/Article/index"><i class="icon-list-alt"></i>日志管理</a></li>
                <li><a href="/Admin/Article/add"><i class="icon-pencil"></i>日志添加</a></li>
                <li><a href="/Admin/ArticleComment/index"><i class="icon-comments"></i>日志评论管理</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#musicSetting" class="nav-header collapsed" data-toggle="collapse" id="music">
                <i class="icon-music"></i>
                音乐管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="musicSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Music/index"><i class="icon-cogs"></i>音乐管理</a></li>
                <li><a href="/Admin/Music/add"><i class="icon-plus-sign"></i>添加音乐</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#photoSetting" class="nav-header collapsed" data-toggle="collapse" id="photo">
                <i class="icon-picture"></i>
                相册管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="photoSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Album/index"><i class="icon-certificate"></i>相册管理</a></li>
                <li><a href="/Admin/Album/add"><i class="icon-plus-sign"></i>添加相册</a></li>
                <li><a href="/Admin/PhotoComment/index"><i class="icon-comment-alt"></i>相片评论管理</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#videoSetting" class="nav-header collapsed" data-toggle="collapse" id="video">
                <i class="icon-facetime-video"></i>
                视频管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="videoSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Video/index"><i class="icon-laptop"></i>视频管理</a></li>
                <li><a href="/Admin/Video/add"><i class="icon-plus-sign"></i>添加视频</a></li>
                <li><a href="/Admin/VideoComment/index"><i class="icon-comment"></i>视频评论管理</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#messageSetting" class="nav-header collapsed" data-toggle="collapse" id="message">
                <i class="icon-comments-alt"></i>
                留言管理	
                <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
            </a>
            <ul id="messageSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="/Admin/Message/index"><i class="icon-laptop"></i>留言管理</a></li>
                <li><a href="/Admin/MessageReply/index"><i class="icon-reply"></i>留言回复管理</a></li>
            </ul>
        </li>
        
        <li>
            <a href="/Admin/Index/system">
                <i class="glyphicon glyphicon-fire"></i>
                服务器信息
            </a>
        </li>

    </ul>
</div>
