<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">留言回复管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="icon-search"></i> 检索条件
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form role="form" action="/Admin/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" method="get">
                        <div class="form-group">
                            <label for="content">回复内容</label>
                            <input type="text" class="form-control" name="content" id="content" value="{$content}" placeholder="回复内容">
                        </div>
                        
                        <div class="form-group">
                            <label for="status">状态</label>
                            <select class="form-control" name="status">
                                <foreach name="status_arr" item="message_status">
                                    <if condition="$status heq $key">
                                        <option value="{$key}" selected="selected">{$message_status}</option>
                                        <else />
                                        <option value="{$key}">{$message_status}</option>
                                    </if>
                                </foreach>
                            </select>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button  type="submit" class="btn btn-success">检索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <if condition="$messageReplys neq ''">
        <div class="table-responsive panel panel-primary" ng-controller="MessageReplyController">
            <div class="panel-heading">
                <B>留言回复管理 | 留言回复列表</B>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>ID</th>
                    <th>回复内容</th>
                    <th>回复用户</th>
                    <th>IP地址</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                <volist name="messageReplys" id="messageReply">
                    <tr id="{$messageReply.id}">
                        <td>{$messageReply.id}</td>
                        <td>{$messageReply.content|htmlspecialchars_decode|stripslashes}</td>
                        <td>{$messageReply.user_name}</td>
                        <td>{$messageReply.ip_address}</td>
                        <td><?php echo \Admin\Model\MessageReplyModel::getStatus($messageReply['status']);?></td>
                    <if condition="$messageReply.create_time eq 0">
                        <td></td>
                        <else />
                        <td>{$messageReply.create_time|date="Y-m-d H:i:s",###}</td>
                    </if>
                    
                    <td>
                        <a href="/Admin/MessageReply/edit/id/{$messageReply.id}" class="btn btn-warning" role="button"><i class="icon-edit"></i> 编辑</a>
                        <a href="" ng-show="show({$messageReply.status})"  class="btn btn-danger" role="button"  ng-click="disable_reply({$messageReply.id})"><i class="icon-remove-circle"></i> 不公开</a>
                        <a href="" ng-show="show(!{$messageReply.status})"   class="btn btn-success" role="button"  ng-click="enable_reply({$messageReply.id})"><i class="icon-ok"></i> 公开</a>
                        <a href="" class="btn btn-danger" ng-click="del({$messageReply.id})" role="button"><i class="icon-trash"></i> 删除</a>
                    </td>
                    </tr>
                </volist>
            </table>
        </div>
        <?php echo $page;?>
        <else />
        <div class="table-responsive panel panel-primary" ng-controller="MessageReplyController">
            <div class="panel-heading">
                <B>留言回复管理 | 留言回复列表</B>
            </div>
            <div class="panel-body">
                未检索到数据
            </div>
        </div>
    </if>
</block>
<block name="header_script">
    <script type="text/javascript">
        var MessageReplyModule = angular.module("baby", []);
        MessageReplyModule.controller("MessageReplyController", function ($scope, $http) {
            $scope.show = function(status){
                if(status == 1){
                    return true;
                }else{
                    return false;
                }
            }
            
            //删除留言回复
            $scope.del = function(messageReply_id){
                $scope.message_info  = {'id':messageReply_id};
                $http({
                    method:"POST",
                    url:"/Admin/MessageReply/delete",
                    data:$.param($scope.message_info),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {     
                        $scope.success = data.success;
                        $('#'+messageReply_id).css('display','none');
                    } else {
                        $scope.message = data.message;
                    }
                });
            }

            //不公开留言回复
            $scope.disable_reply = function(messageReply_id){
                $scope.message_info  = {'id':messageReply_id};
                $http({
                    method:"POST",
                    url:"/Admin/MessageReply/disable",
                    data:$.param($scope.message_info),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {     
                        $scope.success = data.success;
                        window.location.reload();
                    } else {
                        $scope.message = data.message;
                    }
                });
            }
            //公开留言回复
            $scope.enable_reply = function(messageReply_id){
                $scope.message_info  = {"id":messageReply_id};
                $http({
                    method:"POST",
                    url:"/Admin/MessageReply/enable",
                    data:$.param($scope.message_info),
                    headers:{'Content-Type':'application/x-www-form-urlencoded'}
                }).success(function(data){
                    if (data.status) {  
                        $scope.success = data.success;
                        window.location.reload();
                    } else {
                        $scope.message = data.message;
                    }
                });
            }
        });
    </script>
</block>