<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">视频评论管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>
    <form class="form-horizontal" role="form" name="CommentForm" ng-controller="CommentEditController" ng-submit="submitForm()" novalidate>
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>
       
        <div class="form-group" ng-class="{'has-error' : CommentForm.content.$invalid && !CommentForm.content.$pristine}">
            <label for="content" class="col-sm-2 control-label">*评论内容:</label>
            <div class="col-sm-10">
                <input type="text" name="content" value="{$videoComment.content}" ng-model="comment.content" ng-minlength="1" ng-maxlength="80" required class="form-control" id="video_name" placeholder="评论内容">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : CommentForm.status.$invalid && !CommentForm.status.$pristine}">
            <label for="status" class="col-sm-2 control-label">评论状态(*)</label>
            <div class="col-sm-10">
                <select class="form-control" name="status" required ng-model="comment.status" ng-options="option.statusName for option in statusModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="CommentForm.$invalid"><i class="icon-save"></i> 保存编辑视频评论</button>
            </div>
        </div>
        

    </form>
</block>

<block name="header_script">
    <script type="text/javascript">
        var CommentModule = angular.module("baby", []);
        CommentModule.controller("CommentEditController", function ($scope, $http) {
            $scope.comment = {$json_comment};
            $scope.statusModel = [{
                    id: 0,
                    statusName: '不公开'
                },{
                    id: 1,
                    statusName: '公开'
                }];
            $scope.comment.status = $scope.statusModel["{$videoComment.status}"];
            $scope.submitForm = function () {
                $http({
                    method: "POST",
                    url: "/Admin/VideoComment/edit",
                    data: $.param($scope.comment),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        window.location.href = '/Admin/VideoComment/index';
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>