<extend name="Public:base" />

<block name="content">
    <ol class="breadcrumb">
        <li><a href="/Admin">后台首页</a></li>
        <li><a href="/Admin/{$Think.CONTROLLER_NAME}">日志分类管理</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>
    <form class="form-horizontal" role="form" name="CateForm" ng-controller="CateAddController" ng-submit="submitForm()">
        <div class="alert alert-danger" role="alert" ng-show="message"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{message}}</div>
        <div class="alert alert-success" role="alert" ng-show="success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{success}}</div>
        <div class="form-group" ng-class="{'has-error' : CateForm.name.$invalid && !CateForm.name.$pristine}">
            <label for="cate_name" class="col-sm-2 control-label">日志分类名</label>
            <div class="col-sm-10">
                <input type="text" name="cate_name" ng-model="cate.cate_name"  ng-minlength="1" ng-maxlength="80" required class="form-control" id="cate_name" placeholder="分类名">
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : CateForm.keyword.$invalid && !CateForm.keyword.$pristine}">
            <label for="keyword" class="col-sm-2 control-label">分类关键字</label>
            <div class="col-sm-10">
                <input type="text" name="keyword" ng-model="cate.keyword" ng-minlength="1" ng-maxlength="40"  class="form-control" id="keyword" placeholder="分类关键字">
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : CateForm.description.$invalid && !CateForm.description.$pristine}">
            <label for="description" class="col-sm-2 control-label">分类描述</label>
            <div class="col-sm-10">
                <input type="text" name="description" ng-model="cate.description" ng-minlength="4" ng-maxlength="255"   class="form-control" id="description" placeholder="分类描述">
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : CateForm.sort.$invalid && !CateForm.sort.$pristine}">
            <label for="sort" class="col-sm-2 control-label">排序</label>
            <div class="col-sm-10">
                <input type="number" name="sort" ng-model="cate.sort" ng-minlength="1" ng-maxlength="10" required class="form-control" id="sort" placeholder="排序">
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error' : CateForm.status.$invalid && !CateForm.status.$pristine}">
            <label for="status" class="col-sm-2 control-label">分类状态</label>
            <div class="col-sm-10">
                <select class="form-control" name="status" required ng-model="cate.status" ng-options="option.id as option.statusName for option in statusModel">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-disabled="CateForm.$invalid"><i class="icon-plus-sign"></i> 添加分类</button>
            </div>
        </div>
        

    </form>
</block>

<block name="header_script">
    <script type="text/javascript">
        var CateModule = angular.module("baby", []);
        CateModule.controller("CateAddController", function ($scope, $http) {
            $scope.statusModel = [{
                    id: 1,
                    statusName: '正常'
                }, {
                    id: 0,
                    statusName: '禁用'
                }];
            $scope.submitForm = function () {
                $http({
                    method: "POST",
                    url: "/Admin/ArticleCategory/add",
                    data: $.param($scope.cate),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).success(function (data) {
                    if (data.status) {
                        $scope.success = data.success;
                        window.location.href = '/Admin/ArticleCategory/index';
                    } else {
                        $scope.message = data.message;
                    }
                });
            };
        });
    </script>
</block>